<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections/>
    <connectionStrings/>
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
        <add key="webpages:Version" value="2.0.0.0"/>
        <add key="webpages:Enabled" value="false"/>
        <add key="PreserveLoginUrl" value="true"/>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    </appSettings>
    <system.web>
        <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
        <compilation debug="true" targetFramework="4.5"/>
		<!--
		enableVersionHeader="false" - Security through obscurity, removes  X-AspNet-Version HTTP header from the response
		relaxedUrlToFileSystemMapping - (Optional) Set this if you're upgrading from older versions of ASP. See: http://www.asp.net/whitepapers/aspnet4/breaking-changes#0.1__Toc256770147
		requestPathInvalidCharacters="" - Allow zombie DOS names to be captured by ASP.NET (/con, /com1, /lpt1, /aux, /prt, /nul, etc)
		requestValidationMode="4.0" - (Important) you should set this as per-your-requirements. See https://www.owasp.org/index.php/ASP.NET_Request_Validation & https://msdn.microsoft.com/en-us/library/system.web.configuration.httpruntimesection.requestvalidationmode(v=vs.110).aspx
		
		4.0 (the default). The HttpRequest object internally sets a flag that indicates that request validation should be triggered whenever any HTTP request data is accessed. This guarantees that the request validation is triggered before data such as cookies and URLs are accessed during the request. The request validation settings of the pages element (if any) in the configuration file or of the @ Page directive in an individual page are ignored.

		2.0. Request validation is enabled only for pages, not for all HTTP requests. In addition, the request validation settings of the pages element (if any) in the configuration file or of the @Page directive in an individual page are used to determine which page requests to validate.
				
		targetFramework="4.5" - The version of the .NET Framework that the current web application targets. https://msdn.microsoft.com/en-us/library/system.web.httpruntime.targetframework.aspx
		Changing the TargetFramework also sets some other properties in the background (<httpRuntime targetFramework="4.5" /> is a shortcut that allows the ASP.NET runtime to infer a wide array of configuration settings... https://blogs.msdn.microsoft.com/webdev/2012/11/19/all-about-httpruntime-targetframework/)
		-->
		
		<!-- (Optional) for compatibility. 
		More information on this here: https://blogs.msdn.microsoft.com/webdev/2012/11/19/all-about-httpruntime-targetframework/
		
		ControlRenderingCompatabilityVersion - The ASP.NET version that rendered HTML will be compatible with. https://msdn.microsoft.com/en-us/library/system.web.ui.control.renderingcompatibility.aspx
		<pages controlRenderingCompatibilityVersion="4.0" />
		
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" /> - Enables the new await-friendly asynchronous pipeline that was introduced in 4.5. Many of our synchronization primitives in earlier versions of ASP.NET had bad behaviors, such as taking locks on public objects or violating API contracts. In fact, ASP.NET 4’s implementation of SynchronizationContext.Post is a blocking synchronous call! The new asynchronous pipeline strives to be more efficient while also following the expected contracts for its APIs. The new pipeline also performs a small amount of error checking on behalf of the developer, such as detecting unanticipated calls to async void methods.
		
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" /> - Causes server controls to render data-val attributes in markup rather than send a snippet of JavaScript for each input element which requires validation. This provides a better extensibility story for customizing how client-side validation is performed. Depending on the complexity of the page, it can also significantly reduce the size of the generated markup.
        -->		 
        <httpRuntime enableVersionHeader="false" relaxedUrlToFileSystemMapping="true" requestPathInvalidCharacters="" requestValidationMode="4.0" targetFramework="4.5"/>
        <authentication mode="Windows"/>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers"/>
                <add namespace="System.Web.Mvc"/>
                <add namespace="System.Web.Mvc.Ajax"/>
                <add namespace="System.Web.Mvc.Html"/>
                <add namespace="System.Web.Optimization"/>
                <add namespace="System.Web.Routing"/>
                <add namespace="System.Web.WebPages"/>
            </namespaces>
        </pages>
        <!--
            The <customErrors>section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

            <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm"><error statusCode="403" redirect="NoAccess.htm" /><error statusCode="404" redirect="FileNotFound.htm" /></customErrors>-->
        <customErrors defaultRedirect="GenericErrorPage.htm" mode="RemoteOnly">
            <error redirect="404.html" statusCode="404"/>
        </customErrors>
        <sessionState customProvider="DefaultSessionProvider" mode="InProc">
            <providers>
                <add connectionStringName="DefaultConnection" name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            </providers>
        </sessionState>
        <!-- httpCookies httpOnlyCookies setting defines whether cookies
             should be exposed to client side scripts
             false (Default): client side code can access cookies
             true: client side code cannot access cookies
             Require SSL is situational, you can also define the
             domain of cookies with optional "domain" property -->
        <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    </system.web>
    <system.webServer>
        <!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
        <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
            <scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="gzip"/>
            <staticTypes>
                <add enabled="true" mimeType="text/*"/>
                <add enabled="true" mimeType="message/*"/>
                <add enabled="true" mimeType="application/javascript"/>
                <add enabled="true" mimeType="application/json"/>
                <add enabled="false" mimeType="*/*"/>
            </staticTypes>
        </httpCompression>
        <directoryBrowse enabled="false"/>
        <validation validateIntegratedModeConfiguration="false"/>
        <!-- Microsoft sets runAllManagedModulesForAllRequests to true by default
             You should handle this according to need, but consider the performance hit.
             Good source of reference on this matter: http://www.west-wind.com/weblog/posts/2012/Oct/25/Caveats-with-the-runAllManagedModulesForAllRequests-in-IIS-78
        -->
        <modules runAllManagedModulesForAllRequests="true"/>
        <urlCompression doStaticCompression="true"/>
        <staticContent>
            <!-- Remove ETAG IN IIS >= 8 ; for IIS 7/7.5 see the Rewrite rules (bigger description of why you might remove etag down there aswell)
            <clientCache setEtag="false"/>
            -->
            <!-- Set expire headers to 30 days for static content-->
            <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
            <!-- use utf-8 encoding for anything served text/plain or text/html -->
            <!-- in the case of .html files; if you AJAX load html files (i.e. in angular) then remove these two lines. -->
            <remove fileExtension=".html"/>
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8"/>
            <remove fileExtension=".css"/>
            <mimeMap fileExtension=".css" mimeType="text/css"/>
            <remove fileExtension=".js"/>
            <mimeMap fileExtension=".js" mimeType="text/javascript"/>
            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json"/>
            <remove fileExtension=".rss"/>
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8"/>
            <remove fileExtension=".xml"/>
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8"/>
            <!-- HTML5 Audio/Video mime types-->
            <remove fileExtension=".mp3"/>
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg"/>
            <remove fileExtension=".mp4"/>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
            <remove fileExtension=".ogg"/>
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg"/>
            <remove fileExtension=".ogv"/>
            <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
            <remove fileExtension=".webm"/>
            <mimeMap fileExtension=".webm" mimeType="video/webm"/>
            <!-- Proper svg serving. Required for svg webfonts on iPad -->
            <remove fileExtension=".svg"/>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
            <remove fileExtension=".svgz"/>
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
            <!-- HTML4 Web font mime types -->
            <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
            <remove fileExtension=".eot"/>
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
            <remove fileExtension=".ttf"/>
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf"/>
            <remove fileExtension=".ttc"/>
            <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf"/>
            <remove fileExtension=".otf"/>
            <mimeMap fileExtension=".otf" mimeType="font/opentype"/>
            <remove fileExtension=".woff"/>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
            <remove fileExtension=".woff2"/>
            <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
            <remove fileExtension=".crx"/>
            <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension"/>
            <remove fileExtension=".xpi"/>
            <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall"/>
            <remove fileExtension=".safariextz"/>
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream"/>
            <!-- Flash Video mime types-->
            <remove fileExtension=".flv"/>
            <mimeMap fileExtension=".flv" mimeType="video/x-flv"/>
            <remove fileExtension=".f4v"/>
            <mimeMap fileExtension=".f4v" mimeType="video/mp4"/>
            <!-- Assorted types -->
            <remove fileExtension=".ico"/>
            <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
            <remove fileExtension=".webp"/>
            <mimeMap fileExtension=".webp" mimeType="image/webp"/>
            <remove fileExtension=".htc"/>
            <mimeMap fileExtension=".htc" mimeType="text/x-component"/>
            <remove fileExtension=".vcf"/>
            <mimeMap fileExtension=".vcf" mimeType="text/x-vcard"/>
            <remove fileExtension=".torrent"/>
            <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent"/>
            <remove fileExtension=".cur"/>
            <mimeMap fileExtension=".cur" mimeType="image/x-icon"/>
            <remove fileExtension=".webapp"/>
            <mimeMap fileExtension=".webapp" mimeType="application/x-web-app-manifest+json; charset=UTF-8"/>
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <!--#### SECURITY Related Headers ###
            More information: https://www.owasp.org/index.php/List_of_useful_HTTP_headers
        -->
                <!--
                # Access-Control-Allow-Origin
                The 'Access Control Allow Origin' HTTP header is used to control which
                sites are allowed to bypass same origin policies and send cross-origin requests.

                Secure configuration: Either do not set this header, or return the 'Access-Control-Allow-Origin'
                header restricting it to only a trusted set of sites.
                http://enable-cors.org/
                <remove name="Access-Control-Allow-Origin" /><add name="Access-Control-Allow-Origin" value="*" />-->
                <!--
                # Cache-Control
                The 'Cache-Control' response header controls how pages can be cached
                either by proxies or the users browser.
                This response header can provide enhanced privacy by not caching
                sensitive pages in the users browser cache.
                <remove name="Cache-Control" /><add name="Cache-Control" value="no-store, no-cache"/>-->
                <!--
                # Strict-Transport-Security
                The HTTP Strict Transport Security header is used to control
                if the browser is allowed to only access a site over a secure connection
                and how long to remember the server response for, forcing continued usage.
                Note* Currently a draft standard which only Firefox and Chrome support. But is supported by sites like PayPal.
                <remove name="Strict-Transport-Security" /><add name="Strict-Transport-Security" value="max-age=15768000"/>-->
                <!--
                # X-Frame-Options
                The X-Frame-Options header indicates whether a browser should be allowed
                to render a page within a frame or iframe.
                The valid options are DENY (deny allowing the page to exist in a frame)
                or SAMEORIGIN (allow framing but only from the originating host)
                Without this option set the site is at a higher risk of click-jacking.
                <remove name="X-Frame-Options" /><add name="X-Frame-Options" value="SAMEORIGIN" />-->
                <!--
                # X-XSS-Protection
                The X-XSS-Protection header is used by Internet Explorer version 8+
                The header instructs IE to enable its inbuilt anti-cross-site scripting filter.
                If enabled, without 'mode=block', there is an increased risk that
                otherwise non-exploitable cross-site scripting vulnerabilities may potentially become exploitable
                <remove name="X-XSS-Protection" /><add name="X-XSS-Protection" value="1; mode=block"/>-->
                <!--
                # MIME type sniffing security protection
                Enabled by default as there are very few edge cases where you wouldn't want this enabled.
                Theres additional reading below; but the tldr, it reduces the ability of the browser (mostly IE)
                being tricked into facilitating driveby attacks.
                http://msdn.microsoft.com/en-us/library/ie/gg622941(v=vs.85).aspx
                http://blogs.msdn.com/b/ie/archive/2008/07/02/ie8-security-part-v-comprehensive-protection.aspx
        -->
                <remove name="X-Content-Type-Options"/>
                <add name="X-Content-Type-Options" value="nosniff"/>
                <!-- A little extra security (by obscurity), removings fun but adding your own is better -->
                <remove name="X-Powered-By"/>
                <add name="X-Powered-By" value="My Little Pony"/>
                <!--
                 With Content Security Policy (CSP) enabled (and a browser that supports it (http://caniuse.com/#feat=contentsecuritypolicy),
         you can tell the browser that it can only download content from the domains you explicitly allow
         CSP can be quite difficult to configure, and cause real issues if you get it wrong
         There is website that helps you generate a policy here http://cspisawesome.com/
         <remove name="Content-Security-Policy" /><add name="Content-Security-Policy" "default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' https://www.google-analytics.com;" />-->
                <!--//#### SECURITY Related Headers ###-->
                <!--
                Allow cookies to be set from iframes (for IE only)
                If needed, uncomment and specify a path or regex in the Location directive
                <remove name="P3P" /><add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;" />-->
            </customHeaders>
        </httpProtocol>
        <!--
        <rewrite>
            <rules>
                Remove/force the WWW from the URL.
                Requires IIS Rewrite module http://learn.iis.net/page.aspx/460/using-the-url-rewrite-module/
                Configuration lifted from http://nayyeri.net/remove-www-prefix-from-urls-with-url-rewrite-module-for-iis-7-0

                NOTE* You need to install the IIS URL Rewriting extension (Install via the Web Platform Installer)
                http://www.microsoft.com/web/downloads/platform.aspx

                ** Important Note
                using a non-www version of a webpage will set cookies for the whole domain making cookieless domains
                (eg. fast cdn-like access of static resources like css, js and images) impossible.

                # IMPORTANT: THERE ARE TWO RULES LISTED. NEVER USE BOTH RULES AT THE SAME TIME!

                    <rule name="Remove WWW" stopProcessing="true">
                        <match url="^(.*)$" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                        </conditions>
                        <action type="Redirect" url="http://example.com{PATH_INFO}" redirectType="Permanent" />
                    </rule>
                    <rule name="Force WWW" stopProcessing="true">
                        <match url=".*" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^example.com$" />
                        </conditions>
                        <action type="Redirect" url="http://www.example.com/{R:0}" redirectType="Permanent" />
                    </rule>
                -->

                <!--
                ### Built-in filename-based cache busting

                In a managed language such as .net you should really be using the internal bundler for css + js
                or getCassette or  similar.

                If you're not using the build script to manage your filename version revving,
                you might want to consider enabling this, which will route requests for
                /css/style.20110203.css to /css/style.css

                To understand why this is important and a better idea than all.css?v1231,
                read: http://madskristensen.net/post/cache-busting-in-aspnet

                <rewrite>
					<rules>
						<rule name="Cachebusting">
							<match url="^(.+)\.\d+(\.(js|css|png|jpg|gif)$)" />
							<conditions>
							  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							</conditions>
							<action type="Rewrite" url="{R:1}{R:2}" />
						</rule>
					</rules>
				</rewrite>
                -->

                <!--
            </rules>


            ### ETAG Removal (for IIS < 8)
            E-Tags are actually quite useful in cache management especially if you have a front-end caching server
            such as Varnish. http://en.wikipedia.org/wiki/HTTP_ETag / http://developer.yahoo.com/performance/rules.html#etags
            But in load balancing and simply most cases ETags are mishandled in IIS; and it can be advantageous to remove them.
            # removed as in https://stackoverflow.com/questions/7947420/iis-7-5-remove-etag-headers-from-response

            <outboundRules>
                <rule name="Remove ETag">
                <match serverVariable="RESPONSE_ETag" pattern=".+" />
                <action type="Rewrite" value="" />
                </rule>
            </outboundRules>

            </rewrite>-->
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect newVersion="2.0.0.0" oldVersion="1.0.0.0-2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect newVersion="4.0.0.0" oldVersion="1.0.0.0-4.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect newVersion="2.0.0.0" oldVersion="1.0.0.0-2.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>